In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\zish0\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zish0\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\zish0\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\zish0\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\zish0\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\zish0\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

In [16]:
data = [[1],[2,3,5],"Zeshan"]
index = [1,2,3]
pds = pd.Series(data, index=index)

In [17]:
pds

1          [1]
2    [2, 3, 5]
3       Zeshan
dtype: object

In [19]:
for i in pds:
    print(i)

[1]
[2, 3, 5]
Zeshan

In [20]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [21]:
s

a   -0.922580
b    1.365089
c   -0.140211
d    1.552873
e    0.308333
dtype: float64

In [22]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [23]:
d = {"b": 1, "a": 0, "c": 2}

In [24]:
pds = pd.Series(d)

In [25]:
pds

b    1
a    0
c    2
dtype: int64

In [26]:
s = pd.Series(np.random.randn(5), name="something")

In [27]:
s

0   -0.614681
1    0.184554
2   -0.239133
3   -0.092851
4    1.191375
Name: something, dtype: float64

In [35]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
     "three":pds
}

In [36]:
print(d)

{'one': a    1.0
b    2.0
c    3.0
dtype: float64, 'two': a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64, 'three': b    1
a    0
c    2
dtype: int64}

In [37]:
df = pd.DataFrame(d)

In [38]:
df

   one  two  three
a  1.0  1.0    0.0
b  2.0  2.0    1.0
c  3.0  3.0    2.0
d  NaN  4.0    NaN

In [41]:
df.to_csv("data.csv",index=False)

In [44]:
df.describe()

       one       two  three
count  3.0  4.000000    3.0
mean   2.0  2.500000    1.0
std    1.0  1.290994    1.0
min    1.0  1.000000    0.0
25%    1.5  1.750000    0.5
50%    2.0  2.500000    1.0
75%    2.5  3.250000    1.5
max    3.0  4.000000    2.0

In [45]:
df.isna().sum()

one      1
two      0
three    1
dtype: int64

In [52]:
titanic = pd.read_csv("tested.csv")

TypeError: 'Index' object is not callable