In [ ]:
  print("helo bacho ksy ho \n ky seekha")

In [ ]:
     print("helo bacho ksy ho")

In [ ]:
print('''helo bacho ksy ho 
kya seekha             
                    hshshs
                                  hshshs
                                  
                                              hshshssh''')

In [ ]:
print("""helo bacho ksy ho 
kya seekha             
                    hshshs
                                  hshshs
                                  
                                              hshshssh""")

In [ ]:
print("it's very beautiful day out there")

In [ ]:
print("my country name is","Pakistan")

In [ ]:
a  = 12

In [ ]:
type(a)

In [ ]:
print(a)

In [ ]:
print("halleo \n ",'ksy ho \n jj ', """jnab 
jj""")

In [ ]:
msg =

In [2]:
print('msg')

msg

In [14]:
age =12
age_plus_2= age*2

In [15]:
print("the age is :", age,"years old","the doubel age is:",age_plus_2)

the age is : 12 years old the doubel age is: 24